* { margin: 0; padding: 0; box-sizing: border-box; }
body { font: 1.8em Helvetica, Arial; }
form { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }
form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
form #button { color:#FFF; background: #2D9F0B; border: none; padding: 10px;  width: 9%; }
#messages { list-style-type: none; margin: 0; padding: 0; }
#messages li { padding: 5px 10px; }
#messages li:nth-child(odd) { background: #eee; }
#notifyUser { position: fixed; bottom: 42px; width: 100%; }
.button {  
    background-color: 00bfff;  
    border: none;  
    color: rgb(175, 42, 42);  
    text-align: center;  
    text-decoration: none;  
    display: inline-block;  
    font-size: 10px;  
    cursor: pointer;  
    border-radius: 6px;} 